@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.App{  
  margin: auto;
  width: 50%;
  height: 97vh;  
  font-family: 'Inter', sans-serif;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.20);
}

.App.Dark{
  background: #00001a;
  color: rgba(255, 255, 255, 0.715);
}